<!DOCTYPE html>
<html>
<head>
  <title>Dependency Injection Minificntion js</title>
  <script src="angular.min.js"></script>
  <script src="app.js"></script>  
  <style type="text/css">body{font-size:1.3em;}</style>
</head>
<body ng-app="ShoppingListApp">
  <h1>ng-repeat</h1>
  <div ng-controller="ShoppingListController">
    <!-- <h3>Shopping List 1</h3> -->
    <!-- <ul>
      <li ng-repeat="item in ShoppingList1">{{ $index + 1}} {{ item }}</li>
    </ul> -->
    <!-- <br/><br/> -->
    <h3>Shopping List 2</h3>
    <input type="text" ng-model="ShoppingList2[0].quantity">
    <ul>
      <li ng-repeat="item in ShoppingList2">{{ $index + 1}} Name:{{ item.name }} Quantity: {{ item.quantity }}</li>
    </ul>

    <input type="text" ng-model="newItemName" placeholder="Item name">
    <input type="text" ng-model="newItemQuantity" placeholder="Item quantity">
    <button type="button" ng-click="AddItem()">Add Item</button>
  </div>
</body>
</html>