<!DOCTYPE html>
<html>
<head>
  <title>Dependency Injection Minificntion js</title>
  <script src="angular.min.js"></script>
  <script src="app.js"></script>
  <!-- <script src="filter.js"></script>   -->
  <style type="text/css">body{font-size:1.3em;}</style>
</head>
<body ng-app="ShoppingListApp">
  <h1>ng-repeat</h1>
  <div ng-controller="ShoppingListController">
    <input type="text" ng-model="search">
    <ul>
      <li ng-repeat="item in shoppingList | filter : search">{{ item }} </li>
    </ul>
  </div>
</body>
</html>